In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = pd.read_csv('orange_small_train_appetency.labels')

labels.groupby('appetency')['appetency'].count()

appetency
-1    49110
 1      890
Name: appetency, dtype: int64

In [3]:
#  For the small dataset, the first 190 variables are numerical and the last 40 are categorical
df = pd.read_csv('orange_small_train.data.txt', sep='\t')

In [4]:
df.describe()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var183,Var184,Var185,Var186,Var187,Var188,Var189,Var190,Var209,Var230
count,702.000000,1241.000000,1240.000000,1579.000000,1.487000e+03,44471.000000,44461.000000,0.0,702.000000,1.487000e+03,...,1.241000e+03,1241.000000,0.0,702.000000,702.00000,1241.000000,21022.000000,333.000000,0.0,0.0
mean,11.487179,0.004029,425.298387,0.125396,2.387933e+05,1326.437116,6.809496,NaN,48.145299,3.926057e+05,...,7.777380e+04,8.460919,NaN,3.299145,16.54416,167.368477,270.142137,22007.045192,NaN,NaN
std,40.709951,0.141933,4270.193518,1.275481,6.441259e+05,2685.693668,6.326053,NaN,154.777855,9.280896e+05,...,2.016188e+05,46.973777,NaN,8.781967,60.22303,113.980072,86.707692,29085.146490,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,NaN,0.000000,0.000000e+00,...,0.000000e+00,0.000000,NaN,0.000000,0.00000,-6.420000,6.000000,0.000000,NaN,NaN
25%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,518.000000,0.000000,NaN,4.000000,0.000000e+00,...,0.000000e+00,0.000000,NaN,0.000000,0.00000,19.380000,204.000000,2732.670000,NaN,NaN
50%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,861.000000,7.000000,NaN,20.000000,0.000000e+00,...,0.000000e+00,0.000000,NaN,0.000000,4.00000,197.640000,270.000000,12668.940000,NaN,NaN
75%,16.000000,0.000000,0.000000,0.000000,1.187425e+05,1428.000000,7.000000,NaN,46.000000,2.628630e+05,...,4.881000e+04,8.000000,NaN,6.000000,14.00000,252.960000,330.000000,29396.340000,NaN,NaN
max,680.000000,5.000000,130668.000000,27.000000,6.048550e+06,131761.000000,140.000000,NaN,2300.000000,1.232559e+07,...,3.048400e+06,1200.000000,NaN,102.000000,910.00000,628.620000,642.000000,230427.000000,NaN,NaN

In [5]:
# Merge our labels with the data and away we go! 
df2 = pd.concat([df.reset_index(drop=True), labels], axis=1)

In [6]:
# df2.Var229.value_counts().plot(kind="bar",
#                            title="VarXXX",
#                            rot=15,
#                            xlabel="VarXXX",
#                            ylabel="Count")

# df2[df2['appetency'] == -1].Var221.value_counts().plot(kind="pie", title="Var227")

# df2[df2['appetency'] == 1].Var221.value_counts().plot(kind="pie", title="Var227")

In [7]:
# import plotly.graph_objects as go
# from plotly.subplots import make_subplots

# # Some fun with paired pie charts 

# for varNum in range(208,231):
#     varName = "Var" + str(varNum)
    
#     valuesP = df2.loc[df2['appetency'] == 1, varName].value_counts()
#     labelsP = df2.loc[df2['appetency'] == 1, varName].unique().tolist()

#     valuesN = df2.loc[df2['appetency'] == -1, varName].value_counts()
#     labelsN = df2.loc[df2['appetency'] == -1, varName].unique().tolist()
    
#     if(len(labelsN) <= 20):
#         fig = make_subplots(rows=1, cols=2, specs = [[{'type':'domain'},{'type':'domain'}]])

#         fig.add_trace(go.Pie(labels = labelsP, values = valuesP, name = 'Positive'), 1, 1)
#         fig.add_trace(go.Pie(labels = labelsN, values = valuesN, name = 'Negative'), 1, 2)

#         # use 'hole' to create a donut-like pie chart
#         fig.update_traces(hole = 0.4, hoverinfo = 'label+percent+name')

#         fig.update_layout(title_text = varName, annotations = [dict(text='Positive', x=0.18, y = 0.5, font_size=20,showarrow=False),
#                                                                dict(text='Negative', x=0.82, y = 0.5, font_size=20,showarrow=False)])
#         fig.show()

In [8]:
# Lets look at missing values

dfPos = df2.loc[df2['appetency'] == 1]
dfNeg = df2.loc[df2['appetency'] == -1]

dfPosMiss = dfPos.isnull().sum()
dfNegMiss = dfNeg.isnull().sum()

allMiss =  pd.concat([dfPosMiss, dfNegMiss], axis=1)

allMiss.columns = ['PosMissCount', 'NegMissCount']


allMiss['PosMissPerc'] = allMiss.PosMissCount / 890
allMiss['NegMissPerc'] = allMiss.NegMissCount / 49110


allMiss['PosNegDiff'] = allMiss.PosMissPerc - allMiss.NegMissPerc

In [9]:
# Keep any variable that is missing LESS than 80% of their Negative observations 
#      AND 
# The difference between the missing value percentage for Positive vs. Negative is more than 1%
# 
# In other words, they need to be mostly missing AND missing at roughly the same breakdown

keepVars = allMiss.loc[(allMiss['NegMissPerc'] < 0.8) & (abs(allMiss['PosNegDiff']) > 0.01)] 

# Also, any variable with no missing values
keepVars2 = allMiss.loc[(allMiss['NegMissPerc'] == 0)] 

# & abs(allMiss['PosNegDiff']) < 0.01]
len(keepVars2)
keepVars2.head

keepVarsAll = pd.concat([keepVars, keepVars2], axis = 0)


df3 = df2[keepVarsAll.index]
df3.columns

Index(['Var6', 'Var7', 'Var13', 'Var21', 'Var22', 'Var24', 'Var25', 'Var28',
       'Var35', 'Var38', 'Var44', 'Var65', 'Var72', 'Var74', 'Var76', 'Var78',
       'Var81', 'Var83', 'Var85', 'Var94', 'Var109', 'Var112', 'Var119',
       'Var123', 'Var125', 'Var126', 'Var132', 'Var133', 'Var134', 'Var140',
       'Var143', 'Var144', 'Var149', 'Var153', 'Var160', 'Var163', 'Var173',
       'Var181', 'Var194', 'Var200', 'Var201', 'Var206', 'Var214', 'Var217',
       'Var218', 'Var225', 'Var229', 'Var57', 'Var73', 'Var113', 'Var193',
       'Var195', 'Var196', 'Var198', 'Var204', 'Var207', 'Var210', 'Var211',
       'Var212', 'Var216', 'Var220', 'Var221', 'Var222', 'Var226', 'Var227',
       'Var228', 'appetency'],
      dtype='object')

In [11]:
# Last thing for cleaning (famous last words) - drop any categoricals with more than 20-30 values
# Those are likely names or street addresses or something else useless 

# We know that Vars 190-230 are categorical - let's see how many of them have more than 20 values
for varNum in range(191,231):
    varName = 'Var' + str(varNum)
    
    if (varName in df3.columns):
        if (len(df3['Var' + str(varNum)].unique()) > 10):
            print('Var' + str(varNum), len(df['Var' + str(varNum)].unique()))
            del df3[varName]
    #     print(df2.groupby(['appetency','Var' + str(varNum)])['Var' + str(varNum)].count())
    # print()
    # print('Var' + str(varNum), df['Var' + str(varNum)].unique())
    
print(df3.columns)

Index(['Var6', 'Var7', 'Var13', 'Var21', 'Var22', 'Var24', 'Var25', 'Var28',
       'Var35', 'Var38', 'Var44', 'Var65', 'Var72', 'Var74', 'Var76', 'Var78',
       'Var81', 'Var83', 'Var85', 'Var94', 'Var109', 'Var112', 'Var119',
       'Var123', 'Var125', 'Var126', 'Var132', 'Var133', 'Var134', 'Var140',
       'Var143', 'Var144', 'Var149', 'Var153', 'Var160', 'Var163', 'Var173',
       'Var181', 'Var194', 'Var201', 'Var218', 'Var225', 'Var229', 'Var57',
       'Var73', 'Var113', 'Var196', 'Var210', 'Var211', 'Var221', 'Var227',
       'appetency'],
      dtype='object')

In [12]:
df4 = df3.reset_index()
numCols = df4.shape[1]
df4['MissingValuesByRow'] =  df4.apply(lambda x: numCols - x.count(), axis=1)

In [13]:
df4['MissingValuesByRow'].value_counts()

4     13002
2      6591
3      5492
6      5325
41     4279
5      4145
0      3677
1      3259
7      1362
9       771
42      718
12      362
14      337
10      246
8       217
13       93
15       53
11       48
43       12
16       10
18        1
Name: MissingValuesByRow, dtype: int64

In [17]:
# Drop any row that is missing more than half of the columns 
df5 = df4.loc[df4['MissingValuesByRow'] < (numCols/2),]


df6 = df5.drop(['MissingValuesByRow'], axis = 1)
df6.columns

Index(['index', 'Var6', 'Var7', 'Var13', 'Var21', 'Var22', 'Var24', 'Var25',
       'Var28', 'Var35', 'Var38', 'Var44', 'Var65', 'Var72', 'Var74', 'Var76',
       'Var78', 'Var81', 'Var83', 'Var85', 'Var94', 'Var109', 'Var112',
       'Var119', 'Var123', 'Var125', 'Var126', 'Var132', 'Var133', 'Var134',
       'Var140', 'Var143', 'Var144', 'Var149', 'Var153', 'Var160', 'Var163',
       'Var173', 'Var181', 'Var194', 'Var201', 'Var218', 'Var225', 'Var229',
       'Var57', 'Var73', 'Var113', 'Var196', 'Var210', 'Var211', 'Var221',
       'Var227', 'appetency'],
      dtype='object')

In [18]:
df6.to_csv('orange_small_train trimmed v4.csv')

### Pandas Profiling Report

https://pandas-profiling.ydata.ai/docs/master/rtd/pages/advanced_usage.html

In [12]:
# ! pip install pandas_profiling

In [13]:
# ! pip list

In [14]:
# ! pip install markupsafe --upgrade
# ! pip install markupsafe==2.0.1 --user

In [15]:
import pandas_profiling

In [1]:
# pandas_profiling.ProfileReport(df3)

# profile = df2.profile_report(
#     title="Report without correlations",
#     correlations=None,
#     interactions = {
#         "continuous":False,
#         "targets": {'appetency'}
#     },
# )

profile = train_X.profile_report(
    title="Report without correlations",
    correlations=None,
    interactions = {
        "continuous":False,
    },
)

profile.to_file("output - trimmed vars train X v2.html")

NameError: name 'train_X' is not defined